@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    height: 3000px;
}
.navbar-brand{
    font-family: 'Zen Tokyo Zoo', cursive;
}

@media screen and (max-width: 465px)
{
    .navbar-brand
    {
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: x-small;
    }
}
@media screen and (min-width: 990px) and (max-width: 1060px)
{
    .navbar-brand
    {
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: small;
    }
}
@media screen and (min-width: 1024px)
{
    .texthero{
        margin: auto;
        width: 50%;
        font-family: 'Vollkorn', serif;
        text-align: justify;
    }
}
#hero{
    background-image: url(banniere1.jpg);
    background-size: cover ;
}
.texthero{
    font-family: 'Vollkorn', serif;
    text-align: justify;
}
.aboutus{
    text-align: justify;
}
.tittleabout{
    color: #D66F00;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.btn-custom{
    color: white;
    background-color: #D66F00;
}
.btn-custom:hover{
    color: white;
    background-color: #ff8400;
}