@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
body{
    height: 5000px;
}
.navbar-brand{
    font-family: 'Zen Tokyo Zoo', cursive;
}

@media screen and (max-width: 465px)
{
    .navbar-brand
    {
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: x-small;
    }
}
@media screen and (min-width: 990px) and (max-width: 1060px)
{
    .navbar-brand
    {
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: small;
    }
}
